/* 初始化样式 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    /* 清除自带黑色框 */
    outline: none;
}

body {
    /* 线性渐变 */
    background-image: linear-gradient(90deg, #27ae60c4, #2980b9c4, #e74c3cc4, #ad4457c4, #ad8544c4);
    /* 背景大小1500 */
    background-size: 1500%;
    /* 播放动画 */
    animation: bganimation 30s infinite;
}

/* 通过 @keyframes 规则，能够创建动画。 */
@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.zy {
    width: 80%;
    white-space: pre;
    font-size: 30px;
    margin: 50px auto;
    color: rgba(255, 255, 255, 0.922);
}

h1 {
    text-align: center;
}

.zy1 {
            width: 1000px;
                height: 100%;
                padding: 50px;
                margin: auto;
                font-size: 30px;
                color: rgba(0, 0, 0, 0.8);
                background-color: #f0ffffe8;
}
.zy1>ul>li:nth-child(1) {
    margin-top: 2%;
    font-size: 25px;
}
.zy1>ul>li {
   line-height: 75px;
}
.zy1>ul>li>span {
    margin-left: 20px;
}
.zy1>ul>li:nth-child(3),.zy1>ul>li:nth-child(8) {
    font-size: 15px;
    color: rgba(255, 0, 0, 0.701);
    line-height: 30px;
}