* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /* 显示鼠标 */
    transition: 0.3s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: middle;
}

body,
html {
    height: 100%;
}
